[submodule "libs/BasicToolsLib"]
	path = libs/BasicToolsLib
	url = https://github.com/MickaelOnTheWave/BasicToolsLib.git
[submodule "libs/ImageProcessingToolsLib"]
	path = libs/ImageProcessingToolsLib
	url = https://github.com/MickaelOnTheWave/ImageProcessingToolsLib.git
[submodule "libs/RenderLib"]
	path = libs/RenderLib
	url = https://github.com/MickaelOnTheWave/RenderLib.git
